<lib-ng-toast></lib-ng-toast>

<mat-toolbar color="primary" class="mat-elevation-z8" >
   <!--*ngIf="sidenav.mode === 'false'"-->
    <button
      mat-icon-button
      *ngIf="authService.isLogged | async"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
        PAPRIKA
        <span class="example-spacer"></span>
      <button *ngIf="!(authService.isLogged | async)" mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button *ngIf="(authService.isLogged | async)" mat-button routerLink="/login" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
  </mat-toolbar>

  <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" closed mode="side">
        <img *ngIf="(authService.isLogged | async) else photo"
          class="avatar mat-elevation-z8"
          src="data:image/jpeg;base64,{{photoData}}"
        />
        <ng-template #photo>
          <img
          class="avatar mat-elevation-z8"
          src="https://i1.sndcdn.com/avatars-000437232558-yuo0mv-t500x500.jpg"
        />
        </ng-template>

    
        <h4 class="name">{{username}}</h4>
        <p class="designation">Software Engineer</p>
    
        <mat-divider></mat-divider>
    
        <button mat-button class="menu-button" routerLink="/index">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-button class="menu-button" routerLink="/about">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
        <mat-divider *ngIf="authService.isLogged | async"></mat-divider>

        <button *ngIf="authService.isLogged | async" mat-button class="menu-button" routerLink="/user">
          <mat-icon>assignment</mat-icon>
          <span>Users</span>
        </button>

        <button *ngIf="authService.isLogged | async" mat-button class="menu-button" routerLink="/product">
          <mat-icon>assignment</mat-icon>
          <span>Products</span>
        </button>
  
        <button *ngIf="authService.isLogged | async" mat-button class="menu-button" routerLink="/category">
          <mat-icon>assignment</mat-icon>
          <span>Categories</span>
        </button>
  
        <button *ngIf="authService.isLogged | async" mat-button class="menu-button" routerLink="/supplier">
          <mat-icon>assignment</mat-icon>
          <span>Suppliers</span>
        </button>
  
        <mat-divider></mat-divider>
  
        <button *ngIf="!(authService.isLogged | async)" mat-button class="menu-button" routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button *ngIf="(authService.isLogged | async)" mat-button class="menu-button" routerLink="/login" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-sidenav>
    <mat-sidenav-content  style="background-color: rgba(250,250,250,255);">
      <!-- class => mat-elevation-z8  => para que tenga en efecto de card-->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  








<!--
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
            <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
            <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
            <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
            <a mat-list-item [routerLink]="'/activities'"> Activities </a>
            <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>-->