table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .container{
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .mat-form-lg{
    width: 85%;
    font-size: 14px;
}